.subject-container {
  position: relative;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 30px;
  padding-top: 30px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for both transform and shadow */
}

.subject-container:hover {
  transform: scale(1.02); /* Slightly scale up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.subject-container.selected {
  transform: scale(1.03); /* Scale slightly more when selected */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* More pronounced shadow */
  border: 2px solid #fff; /* White border for selection */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Slightly darker overlay for selected */
}

.subject-name {
  font-size: 20px;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Shadow for better contrast */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-code {
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Shadow for better contrast */
}
